<!doctype html>
<html lang="en">
  <head>
    {% with title = "Search Docs" %}{% include "templates/head.html" %}{% endwith %}
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    {% include "templates/nav.html" %}
    <main>
      <h1>Search Docs</h1>
      <input id="search" type="text" placeholder="Search" />
      <div id="results" class="loading"></div>
    </main>
    <script type="module" src="./index.js"></script>
    {% include "templates/footer.html" %}
  </body>
</html>
