<span class="site-title sl-flex">
  <a href="/">aak</a>
  <a href="/docs/">docs</a>
</span>

<style>
  .site-title {
    gap: 1em;
  }
  .site-title a {
    align-items: center;
    gap: var(--sl-nav-gap);
    font-size: var(--sl-text-h4);
    color: var(--sl-color-text-accent);
    white-space: nowrap;
    min-width: 0;
    font-weight: 600;
    text-decoration: none;
  }
</style>
