<!DOCTYPE html>
<html lang="en">
  <head>
    {% with title = "Home" %} {% include "templates/head.html" %} {% endwith %}
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
    {% include "templates/nav.html" %}
    <main>
      <h1>Hello!</h1>
      <p>
        I am Al Amin Kouser, a dynamic and proactive legal and technology
        professional with expertise in maritime law, software development, and
        project management. Experienced in multicultural environments and
        committed to continuous learning and innovation. Adept at leveraging
        digital tools to streamline processes and enhance organizational
        efficiency.
      </p>
    </main>
    {% include "templates/footer.html" %}
  </body>
</html>
