<footer id="FOOTER">
  <div class="footer-container">
    <div class="footer-content">
      <h2>About</h2>
      <hr>
      <p>
        This page is still under development.
      </p>
    </div>
    <div class="footer-content">
      <h2>Contact</h2>
      <hr>
      <p>
        <a href="mailto:contact@alaminkouser.com">contact@alaminkouser.com</a>
      </p>
    </div>
    <div class="footer-content">
      <h2>Social</h2>
      <hr>
      <p>
        <a href="https://www.linkedin.com/in/alaminkouser"
        >LinkedIn: alaminkouser</a><br>
        <a href="https://github.com/alaminkouser">GitHub: alaminkouser</a>
      </p>
    </div>
  </div>
</footer>
