<footer id="FOOTER">
  <div class="footer-container">
    <div class="footer-content">
      <h2>About</h2>
      <hr />
      <p>
        Legal and technology professional specializing in maritime law, software
        development, and project management. Committed to innovation and
        continuous learning.
      </p>
    </div>
    <div class="footer-content">
      <h2>Public Keys</h2>
      <hr />
      <p><a href="/pgp-public-key.txt">PGP Public Key</a><br /></p>
      <p>
        <a href="/ssh-public-key.txt">SSH Public Key</a>
      </p>
    </div>
    <div class="footer-content">
      <h2>Social</h2>
      <hr />
      <p>
        <a href="https://www.linkedin.com/in/alaminkouser"
          >LinkedIn: alaminkouser</a
        ><br />
      </p>
      <p>
        <a href="https://github.com/alaminkouser">GitHub: alaminkouser</a>
      </p>
      <p>
        <a href="https://orcid.org/0000-0002-0215-3372"
          >ORCID: 0000-0002-0215-3372</a
        >
      </p>
    </div>
  </div>
</footer>
