<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="Legal and technology professional specializing in maritime law, software development, and project management. Committed to innovation and continuous learning."
/>
<title>
  {%- if title -%}
    {{ title }}
  {%- else -%}
    {{ request.url.path }}
  {%- endif -%}
</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link
  rel="preload"
  href="/main.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link rel="stylesheet" href="/main.css" />
