<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%- set default_description = "Legal and technology professional specializing in maritime law, software development, and project management. Committed to innovation and continuous learning." -%}
<meta
  name="description"
  content="
  {%- if description -%}
    {{ description }}
  {%- else -%}
    {{ default_description }}
  {%- endif -%}
  "
/>
<title>
  {%- if title -%}
    {{ title }}
  {%- else -%}
    {{ request.url.path }}
  {%- endif -%}
  {{- " | AL AMIN KOUSER" -}}
</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta
  property="og:title"
  content="{%- if title -%}{{ title }}{%- else -%}{{ request.url.path }}{%- endif -%}"
/>
<meta
  property="og:description"
  content="{%- if description -%}{{ description }}{%- else -%}{{ default_description }}{%- endif -%}"
/>
<meta property="og:image" content="{{ request.base_url }}alaminkouser.png" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.url }}" />
<link
  rel="preload"
  href="/main.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link rel="stylesheet" href="/main.css" />
<script type="speculationrules">
  { "prerender": [{ "where": { "href_matches": "/*" }, "eagerness": "eager" }] }
</script>
<link
  rel="sitemap"
  type="application/xml"
  title="Sitemap"
  href="/sitemap.xml"
/>
