name: Vercel Production Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"
jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: Build Resume
        uses: lvignoli/typst-action@main
        with:
          source_file: resume/main.typ
      - name: Move Resume
        run: |
          mv resume/main.pdf app/home/resume.pdf
      - name: Build DOCS
        run: |
          npm --prefix docs install
          npm --prefix docs run build
          npx --prefix docs @divriots/jampack docs/dist
          rm -rf app/home/docs
          mv docs/dist/docs app/home/docs
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prod --token=${{ secrets.VERCEL_TOKEN }}
